@import './theme.scss';

body {
  @include useTheme {
    background-color: var(--geo-background);
  }
}

@keyframes slidein {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}